$defaultPadding: 15px;
$cardColor: teal;
$tableColor: #F0ECEB;
$offColor: #EE3233;

body {
  max-width: 600px;
  background-color: #6C7476; // background-color: #F0ECEB;
  // background-color: #fbc97f;
  margin: auto;
}

h1 {
  font-size: 48px;
}

p,
button {
  font-size: 24px;
}

img {
  max-width: 100px;
  max-height: 150px;
}

section.card {
  width: 100px;
  height: 150px;
}

header {
  text-align: center;

  button {
    background-color: #EE3233;
    border-radius: 5px; // padding: 15px;
    padding: $defaultPadding;
  }
}

main {
  background-color: #F0ECEB; // background-color: #6C7476;
  display: flex;
  padding: $defaultPadding;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;

  .card {
    transform-style: preserve-3d; //no idea what this does
    // border: 1px solid red;
    background-color: #EE3233;
    margin: 10px;
    color: white; // transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .5);
    transition: background-color 1s;

    &:hover {
      border: 2px solid #EE3233; // transition: <property> <duration> <timing-function> <delay>;
      // transition-duration: .5s;
      // transition: background-color 1s;
    }
  }

  .cardFlip {
    // transform: rotateY( 180deg);
    // transition: transform 2s; // transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .hidden {
    color: transparent;
    background-color: teal;
  }
}