$defaultPadding: 15px;

//original colors
$cardTopColor: teal;
$cardBottomColor: #EE3233;

//lucas colors
// $cardTopColor: hsla(180, 100%, 22%, 0.65); 
// $cardBottomColor: hsl(0, 78%, 65%);
;

body {
  max-width: 600px;
  background-color: hsla(180, 100%, 22%, 0.10); //lucas color
  margin: auto;
}

h1 {
  font-size: 56px;
  margin: 0;
}

p,
button {
  font-size: 24px;
}

img {
  max-width: 100px;
  max-height: 150px;
}

.card {}

header {
  text-align: center;
  padding: 20px;

  button {
    background-color: $cardBottomColor;
    border-radius: 5px;
    padding: $defaultPadding;
    margin-top: 10px;
  }
}

main {
  display: flex;
  padding: $defaultPadding;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;

  .card {
    width: 100px;
    height: 150px;
    // transform-style: preserve-3d; //no idea what this does
    // border: 1px solid red;
    border-radius: 5px;
    background-color: $cardBottomColor;
    margin: 10px;
    color: white; // transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .5);
    transition: background-color 1s;
    // font-family: sans-serif;
    font-size: 20px;
    // text-transform: uppercase;

    &:hover {
      border: 2px solid $cardBottomColor; // transition: <property> <duration> <timing-function> <delay>;
      // transition-duration: .5s;
      // transition: background-color 1s;
    }
  }

  .cardFlip {
    // transform: rotateY( 180deg);
    // transition: transform 2s; // transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .hidden {
    color: transparent;
    background-color: $cardTopColor;
  }
}